<!-- service creation
ng generate service housing --skip-tests -->

<!-- <div>Get Method</div>
<div>{{getJsonValue | json}}</div>


<div>Post Method</div>
<div>{{postJsonValue | json}}</div> -->

<p style="text-align: center;">* Injectable Service Example *</p>
<p style="text-align: center;">{{message}}</p>
 <br>

 <button style="margin-left: 46%;" type="button" class="btn btn-primary openModal" data-bs-toggle="modal" data-bs-target="#myModal" (click)="openModel($event)">
  Open modal
</button>

<br><br>
<!-- <div>
  <img src="./home/silk2023/Desktop/test.png">
</div> -->
<div class="myController">  
  <label>Title (Data From API) : </label>  
      <select (change)="onChange($event)">  
            <option value="0">--Select From Dropdown--</option>  
            <option *ngFor="let lang of message1"  value={{lang.title}}>  
                {{lang.title}}  
            </option>  
        </select>  
        <br><br>
        <h5>
          You have selected this text: {{selected_fruit | uppercase}}
      </h5>
      <input type="text" value="{{selected_fruit}}">
</div> 
  <!-- <br><br>
<main class="container">
  <form #myForm="ngForm" id="myForm" (ngSubmit)="onSubmit()">
    
    <div class="login-container">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label>Num 1 :</label>
            <input type="number" name="num1" [(ngModel)]="num1" required class="form-control"> 
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Num 2 :</label>
            <input type="number" name="num2" [(ngModel)]="num2" required class="form-control"> 
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" [(ngModel)]="username" required class="form-control" (change)="checkEmailValidation($event)">
            <div *ngIf="errorData" ng-show="myForm.email.$error.email" class="error">Invalid Email!</div> 
           </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="pass" [(ngModel)]="password" required class="form-control" (change)="checkEmailValidation($event)">
            <div *ngIf="errorData1" ng-show="myForm.email.$error.email" class="error">Invalid Password!</div>
          </div>
        </div>
        <br>
        <div class="col-md-12 buttons">
          <div class="form-group btn">
            <button [disabled]="isButtonDisabled" id="myButton" type="submit" >Submit</button>
          </div>
          <div class="form-group btn">
            <input type="button" (click)="onClick($event)" value="Clear Data">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div *ngIf="submitted" ng-show="showError" class="alert alert-danger" id="showError">Wrong credentials!</div>
          <div *ngIf="failed" ng-show="showSuccess" class="alert alert-success" id="showSuccess">Login Successful!</div>
        </div>
      </div>
    </div>
    
    <br/>
  </form>
</main> -->
  <br><br>

  <div *ngIf="submitted">
    <h5>Submitted Data:</h5>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Email</th>
          <th>Password</th>
          <th>Addition</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>{{username}}</th>
          <td>{{password}}</td>
          <td>{{result}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <br><br><br>  -->
 <!-- <table style="border:1px solid">
  <tr style="border:1px solid">
    <th style="border:1px solid">User Id</th>
    <th style="border:1px solid">ID</th>
    <th style="border:1px solid">Title</th>
    <th style="border:1px solid">Body</th>
  </tr>
  <tr style="border:1px solid" *ngFor="let item of jsonArray">
    <td style="border:1px solid">{{item.userId}}</td>
    <td style="border:1px solid">{{item.id}}</td>
    <td style="border:1px solid">{{item.title}}</td>
    <td style="border:1px solid">{{item.body}}</td>
  </tr>
</table> -->
 <!-- <table class="table table-striped" style="border:1px solid">
  <thead>
    <tr style="border:1px solid">
      <th style="border:1px solid">Id</th>
      <th style="border:1px solid">Name</th>
      <th style="border:1px solid">Salary</th>
      <th style="border:1px solid">Age</th>
      <th style="border:1px solid">Image</th>
    </tr>
  </thead>
    <tr style="border:1px solid" *ngFor="let item of jsonArray1">
      <td style="border:1px solid">{{item.id}}</td>
      <td style="border:1px solid">{{item.employee_name}}</td>
      <td style="border:1px solid">{{item.employee_salary}}</td>
      <td style="border:1px solid">{{item.employee_age}}</td>
      <td style="border:1px solid">{{item.profile_image}}</td>
    </tr>
  
</table> -->
<!-- <br><br>  -->


<!-- <div>
  <h2>Array Elements</h2>
  <ul>
    <li *ngFor="let item of jsonArray">{{ item }}</li>
  </ul>
</div> -->

<!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal" id="myModal" style="width: 100%;">
  <div class="modal-dialog" style="width: 100%;">
    <div class="modal-content" style="width: 100%;">
      <h3 style="text-align: center;margin-top: 10px;">Login form</h3>
      <form  #myForm="ngForm" id="myForm" (ngSubmit)="onSubmit()">

        <div class="row" style="width: 90%;text-align: center;margin-left: 5%;">
          <div class="col-md-12">
            <div *ngIf="failed" ng-show="showError" class="alert alert-danger" id="showError">Wrong credentials!</div>
            <div *ngIf="submitted" ng-show="showSuccess" class="alert alert-success" id="showSuccess">Login Successful!</div>
          </div>
        </div>
        
        <div class="login-container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>Num 1 :</label>
                <input type="number" name="num1" [(ngModel)]="num1" required class="form-control" > 
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Num 2 :</label>
                <input type="number" name="num2" [(ngModel)]="num2" required class="form-control"> 
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Email :</label>
                <input type="email" name="email" [(ngModel)]="username" required class="form-control" (change)="checkEmailValidation($event)">
                <div *ngIf="errorData" ng-show="myForm.email.$error.email" class="error">Invalid Email!</div> 
               </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Password :</label>
                <input type="password" name="pass" [(ngModel)]="password" required class="form-control" (change)="checkEmailValidation($event)">
                <div *ngIf="errorData1" ng-show="myForm.email.$error.email" class="error">Invalid Password!</div>
              </div>
            </div>
            <br>
            <div class="col-md-12 buttons">
              <div class="form-group btn">
                <button class="btn btn-primary" [disabled]="isButtonDisabled" id="myButton" type="submit" >Submit</button>
              </div>
              <div class="form-group btn">
                <input class="btn btn-primary" type="button" (click)="onClick($event)" value="Clear Data">
              </div>
            </div>
          </div>
          
        </div>
        
        <br/>
      </form>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeModel($event)">Close</button>
      </div>

    </div>
  </div>
</div>

  <main>
    <!-- <header class="brand-name">
      <img class="brand-logo" src="/assets/logo.svg" alt="logo" aria-hidden="true">
    </header> -->
    <section class="content">
      <app-home></app-home>
    </section>
  </main>


  <section class="about-area about-five">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-12">
                <div class="about-five-content">
                    <h6 class="small-title text-lg">OUR STORY</h6>
                    <h2 class="main-title fw-bold">Our team comes with the experience and knowledge</h2>
                    <div class="about-five-tab">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-who-tab" data-bs-toggle="tab" data-bs-target="#nav-who" type="button" role="tab" aria-controls="nav-who" aria-selected="true">Who We Are</button>
                                <button class="nav-link" id="nav-vision-tab" data-bs-toggle="tab" data-bs-target="#nav-vision" type="button" role="tab" aria-controls="nav-vision" aria-selected="false">our Vision</button>
                                <button class="nav-link" id="nav-history-tab" data-bs-toggle="tab" data-bs-target="#nav-history" type="button" role="tab" aria-controls="nav-history" aria-selected="false">our History</button>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-who" role="tabpanel" aria-labelledby="nav-who-tab">
                                <p>1It is a long established fact that a reader will be distracted by the readable content of a page
                                    when
                                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                    distribution of letters, look like readable English.
                                </p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                                    form,
                                    by injected humour.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="nav-vision" role="tabpanel" aria-labelledby="nav-vision-tab">
                                <p>2It is a long established fact that a reader will be distracted by the readable content of a page
                                    when
                                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                    distribution of letters, look like readable English.
                                </p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                                    form,
                                    by injected humour.
                                </p>
                            </div>
                            <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
                                <p>3It is a long established fact that a reader will be distracted by the readable content of a page
                                    when
                                    looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                    distribution of letters, look like readable English.
                                </p>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have in some
                                    form,
                                    by injected humour.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>